<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TwitterObserver</title>

    <script src="/socket.io/socket.io.js"></script>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.full.min.js"></script>


    <link rel="stylesheet" href="style.css">

    <!--
    <script src="vue.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.common.js" charset="utf-8"></script>
    -->

    <!-- app-icon -->
    <script type="text/x-template" id="icon-template">
        <i :class="'fa fa-' + fa" aria-hidden="true" style="margin-right: 1rem"></i>
    </script>

    <!-- app-container -->
    <script type="text/x-template" id="container-template">
        <div class="container">
            <div class="row">
                <slot></slot>
            </div>
        </div>
    </script>

    <!-- app-space -->
    <script type="text/x-template" id="space-template">
        <span style="opacity: 0">_</span>
    </script>


    <script type="text/x-template" id="b-template">
        <div class="form-inline gradient-7">
            <button @click="openLotteryDialog" type="button" role="button" class="btn">
                <slot></slot>
            </button>
        </div>
    </script>


    <script type="text/x-template" id="graph-template">
        <canvas :tweet-id="twid">{{twid}}</canvas>
    </script>

    <script src="app.js" charset="utf-8" defer></script>


</head>

<body>

    <div id="app">

        <header class="header navbar navbar-light navbar-toggleable-md bd-navbar">
            <nav class="container">

                <!--<span style="/*font-size:2rem*/">aa</span>-->

                <h2>-</h2>

                <app-space></app-space>

                <form class="form-inline">



                    <input id="id" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Tweet ID">

                    <button disabled class="btn form-control btn-outline-primary" type="submit" id="TEST">追加</button>

                    <app-space></app-space>
                    <button disabled class="btn form-control btn-outline-danger" type="submit" id="TEST">TEST</button>




                </form>


                <div style="position: absolute; left: 100%; margin-left: -6rem">
                    <app-icon fa="github"></app-icon><a href="https://github.com/ishizaki-taishi/TwitterObserver">GitHub</a>
                </div>

            </nav>
        </header>

        <div class="bd-pageheader" style="color: #358; background: #f0f9ff; border-bottom: solid 1px #cdf;">
            <app-container>
                <h2 style="margin: 1rem;">

                    <app-icon fa="eye"></app-icon>Watch: {{ tweets.length }}
                    <app-space></app-space>
                    <app-icon fa="database"></app-icon>Rows: {{ databaseCapacity.count }} of {{ databaseCapacity.max }}
                    <app-space></app-space>
                    <app-icon fa="users"></app-icon>FF: {{ ff.checkedCount }} of {{ databaseCapacity.count }}
                </h2>
            </app-container>
        </div>


        <!-- HashTag Search -->
        <div id="hashtag">
            <div class="container" style="margin-top:1rem">
                <div class="row shadow-box" style="padding:1rem">

                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="text" class="form-control" placeholder="ハッシュタグ" v-model="search.hashtag" @keydown.enter="searchHashtag">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" @click="searchHashtag">検索</button>
                        </span>
                    </div>

                    <div v-if="search.results.length">
                        <hr>
                        <h3>取得数: {{ search.results.length }}</h3>
                        <hr>
                        <div v-for="result in search.results">
                            <span style="font-weight:bold">{{ result.status.data.user.name }} @{{ result.status.data.user.screen_name }}</span>
                            <br>{{ new Date(result.status.data.created_at).toLocaleString() }}
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="container" v-for="tweet in tweets">
            <div class="row" style="padding-top: 2rem;">


                <div class="left col-12 col-md-4">

                    <h2 style="color:#358;word-break: break-all;"><app-icon fa="twitter"></app-icon>{{ tweet.id }}</h2>

                    <hr>

                    <button @click="writeSpreadsheet" :disabled="!tweet.retweeters.length" :tweet-id="tweet.id" role="button" data-backdrop="static" data-toggle="modal" data-target="#myModal" class="mb-2 btn btn-outline-success" type="submit">Spreadsheet</button>

                    <button disabled type="button" class="mb-2 btn btn-outline-danger">削除</button>

                    <hr>

                    <div class="form-inline gradient-7">
                        <button @click="openLotteryDialog" :disabled="!tweet.retweeters.length" :tweet-id="tweet.id" type="button" role="button" class="btn">
                            抽選
                        </button>
                    </div>



                    <div class="form-inline" style="background: linear-gradient(60deg, rgb(247, 149, 51), rgb(243, 112, 85), rgb(239, 78, 123), rgb(161, 102, 171), rgb(80, 115, 184), rgb(16, 152, 173), rgb(7, 179, 155), rgb(111, 186, 130));display: inline-block;border-radius: 4px;">
                        <button @click="openLotteryDialog10" :disabled="!tweet.retweeters.length" :tweet-id="tweet.id" type="button" role="button" class="btn" style="margin: 2px;background: #fff;border-radius: 4px;">
                            10 連ガチャ
                        </button>
                    </div>


                    <hr>

                    <div @click="tweet.view.isShowOptions = !tweet.view.isShowOptions" style="cursor: pointer; margin-top: -.5rem; margin-bottom: -0.5rem;">

                        <app-icon fa="cog"></app-icon><span style="color: #666">
                            詳細設定
                        </span>
                    </div>

                    <transition name="fade">

                        <div v-if="tweet.view.isShowOptions">

                            <div class="form-inline" style="margin: .5rem 0;">
                                <input type="checkbox" v-model="tweet.view.ffRatioCheck" class="form-inline form-control">　FF 比で制限する
                                <input type="number" v-model="tweet.view.ffRatioBorder" maxlength="14" placeholder="FF ratio border" class="form-control">
                            </div>

                            <div class="form-inline" style="margin: .5rem 0;">
                                <input type="checkbox" v-model="tweet.view.followerCountCheck" class="form-inline form-control">　フォロワー数で制限する
                                <input type="number" v-model="tweet.view.followerCountBorder" maxlength="14" placeholder="followers count" class="form-control">
                            </div>



                            <div class="form-inline" style="display: inline-block">
                                <input disabled type="number" maxlength="14" v-model="inputTime" placeholder="until time" class="form-control">
                            </div>

                            <span>{{ tweet.view.time }}</span>



                        </div>

                    </transition>

                    <hr>

                    <div v-html="tweet.oembed"></div>


                </div>



                <div class="col-12 col-md-8">

                    <h2 style="color:#358"><app-icon fa="retweet"></app-icon>Retweeters: {{ tweet.retweeters.length }}</h2>

                    <div id="log" style="max-height: 50vh; overflow: scroll;">

                        <div v-if="!tweet.retweeters.length">
                            Loading...
                        </div>
                        <div v-else v-for="retweeter in tweet.retweeters">
                            {{ retweeter.name }} <span style="color:#437BD7">@{{retweeter.screenName}}</span>
                        </div>

                    </div>

                    <app-graph :twid="tweet.id"></app-graph>


                </div>
            </div>



            <br>
        </div>





        <div class="container">
            <div class="row shadow-box" style="padding: 1rem;">

                <div class="form-inline" style="background: linear-gradient(60deg, rgb(247, 149, 51), rgb(243, 112, 85), rgb(239, 78, 123), rgb(161, 102, 171), rgb(80, 115, 184), rgb(16, 152, 173), rgb(7, 179, 155), rgb(111, 186, 130));display: inline-block;border-radius: 4px;">
                    <button @click="mixLottery" type="button" role="button" class="btn" style="margin: 2px;background: #fff;border-radius: 4px;">
                        5 連ガチャ
                    </button>
                </div>


                <div v-for="tweet in tweets">
                    <input type="checkbox">
                    <label>{{ tweet.id }}</label>
                </div>

            </div>
        </div>




        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Spreadsheet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div id="spreadsheet-progress" class="modal-body">
                        {{ modals.spreadsheet.done ? '上書きに成功しました！' : 'スプレッドシートに書き込んでいます...' }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            {{ modals.spreadsheet.done ? '閉じる' : '中止' }}
                        </button>
                        <button @click="openSpreadsheet" :disabled="!modals.spreadsheet.done" type="button" class="btn btn-success">スプレッドシートを開く</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 抽選ダイアログ -->
        <div class="modal fade" id="lottery-dialog" tabindex="-1" role="dialog" aria-labelledby="lottery-dialog-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">抽選結果</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div id="lottery-oembed" class="modal-body">




                        <div v-for="user in lottery.users" class="shadow-box" style="padding: 1rem; margin-bottom: 1rem;">


                            <h2>{{ user.name }} <span style="color:666;">@{{ user.screenName }}</span></h2>
                            <hr /> フォロー: {{ user.followCount }}<br> フォロワー: {{ user.followerCount }}<br> FF 比: {{ user.ffRatio }}
                            <hr />

                            <div :id="'lu' + user.id"></div>



                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                            <button disabled type="button" class="btn btn-success">ツイートを開く</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <footer class="footer" style="

        color: rgb(51, 85, 136);
        background: rgb(240, 249, 255);
        border-top: 1px solid rgb(204, 221, 255);

        ">

            <div class="container">
                <div class="row">
                    footer
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
